.button-accordeon {
  --minus-color: #{$color-text-basic};
  --before-transform: translate(-50%, -50%);
  --after-transform: translate(-50%, -50%) rotate(90deg);
  --after-opacity: 1;

  position: relative;
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;

  @media #{$mobile-width} {
    width: calc(40px / $mobile-size * 100vw);
    height: calc(40px / $mobile-size * 100vw);
  }

  @media #{$tablet-width} {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus-visible {
    outline: none;

    --minus-color: #{$color-accent};
  }

  &:active {
    --minus-color: #{$color-accent-dark};
  }

  &:disabled {
    --minus-color: #{$color-grey-dark};

    background-color: $color-grey-light;
    cursor: default;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--before-transform);
    content: "";
    width: 1px;
    height: 18px;
    background-color: var(--minus-color);
    transition: transform 0.3s, background-color 0.3s;

    @media #{$mobile-width} {
      width: calc(1px / $mobile-size * 100vw);
      height: calc(18px / $mobile-size * 100vw);
    }

    @media #{$tablet-width} {
      width: 1px;
      height: 18px;
    }
  }

  &::after {
    transform: var(--after-transform);
    opacity: var(--after-opacity);
  }
}

.button-accordeon--active {
  --before-transform: translate(-50%, -50%) rotate(90deg);
  --after-transform: translate(-50%, -50%) rotate(180deg);
  --after-opacity: 0;
}
