.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page__centerer {
  box-sizing: border-box;
  max-width: $max-content-width;
  margin: auto;
}
